<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Bookish</title>
     <link rel="stylesheet" href="/css/style.css">
     <link rel="stylesheet" href="/css/newBook.css">
</head>
<body>
     <nav>
          <div class="left">
               <div class="brand typography">Bookish</div>
               <div class="lg-hide collapsible"><i class="fas fa-bars"></i></div>
          </div>
          <div class="center sm-hide">
               <div class="searchbar">
                    <form action="/search" method="get">
                         <input type="text" name="query" class="navbar-search" placeholder="searh book" oninput="searchBook(event)">
                         <button type="submit"><i class="fas fa-search"></i></button>
                    </form>
                    <div class="search-results"></div>
               </div>
          </div>
          <div class="right sm-hide">
               <div class="user">
                    <div class="username">{{user.username}}</div>
                    <div class="picture">B</div>
               </div>
          </div>
     </nav>
     <div class="main">
          <div class="left sm-hide">
               <a href="/newBook" class="new-book">New Book</a>
          </div>
          <div class="center">
               <h2>Add New Book</h2>
               <input type="text" placeholder="title/author/isbn">
          </div>
          <div class="right sm-hide">Right</div>
     </div>

     {{!-- <div class="modal new-book-modal">
          <div class="content">
               <h2>New Book</h2>
               <form action="#">

               </form>
          </div>
     </div> --}}
<script src="https://kit.fontawesome.com/b5b791cd78.js" crossorigin="anonymous"></script>
<script src="/js/main.js"></script>
<script>
     navigator.geolocation.getCurrentPosition(position=>{
          console.log(position)
     })
</script>
</body>
</html>