*{
     box-sizing: border-box;
}
body{
     background-color: #212121;
     color: #fff;
     font-family: monospace;
}

#form{
     position: fixed;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
     border: 1.8px solid #373737;
     border-radius: 12px;
     margin: auto;
     padding: 20px;
     text-align: center;
}
.input-row{
     display: flex;
}
.input {
     margin: 5px 10px;
}
input{
     background-color: #1a1a1a;
     border: none;
     width:200px;
     padding: 8px 16px;
     text-align: center;
     border-radius: 6px;
     outline: none;
     border: 1px solid #fff0;
     color: #fff;
}
input:focus{
     border: 1px solid #fff;
}
#form .btn{
     background-color: #28AB6C;
     color: #fff;
     padding: 8px 16px;
     border-radius: 6px;
}
#form a{
     color: aquamarine;
     text-decoration: none;
}
#form a:hover{
     text-decoration: underline;
}
.oAuth{
     margin-top: 20px;
}
.oAuth>div{
     margin-bottom: 6px;
}

.error{
     font-size: 0.9em;
     margin-bottom: 12px;
     color: rgb(255, 35, 79);
}
